.conatinerRegister {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    height: 100vh;
    background-color: rgb(23, 13, 58);

    
    

    .registerTopCont {
        position: relative;
        width: 100%;
        height: 10vh;
        background-color: #4380f397;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1.5rem;
        color: white;
        font-size: 1.3rem;
        overflow: hidden;


        .line {
            width: 100%;
            height: 10px;
            background-color: rgb(57, 203, 98);
            position: absolute;
            bottom: 0;
            left: -66%;
            transition: 1s ease-in-out;
        }

        .invisible {
            color: transparent;
        }

    }

    .mainContainerRegister {
        width: 90%;
        height: 80vh;
        margin: 0 auto;
        

        .containerSlideLinks {
            width: 100%;
            display: flex;
            justify-content: space-between;
            font-size: 1rem;
            color: white;

            .cel-2 {
                width: 100%;
                // border-bottom: 1px solid rgb(255, 255, 255);
                padding: 2rem 0 1rem;
                margin: 0 1rem;


            }
        }

        #containerEmail {

            .hr {
                width: 100%;
                height: 1px;
                background-color: rgb(255, 255, 255);
                position: relative;

                span {
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background-color: rgb(23, 13, 58);
                    padding: 0 1rem;
                    color: white;
                }
            }

            .loginCenterContBubleAccessCont {
                width: 100%;
                padding: .5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: white;
                border-radius: .5rem;
                color: rgba(0, 0, 0, 0.564);
                font-weight: bold;

                span {
                    padding-left: .7rem;
                }

                svg {
                    color: red;
                }
            }
        }
    }

    .registerBottomCont {
        width: 100%;
        height: 10vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        background-color: #4380f397;
    }
}